.example-full-width ,.image{
    height: 75px;
    width: 332px;
}

button{
    width: 332px;
    margin-left: 8px;
}
.header{
    margin-bottom: 10px;
}


.recherche{
    width: 250px;
}

.example-form{
    display: flex;
    flex-wrap: wrap;
}
.admin-image{
    width: 290px;
    height: 290px;
    opacity: 0.7;
    margin-left: 30px;
    margin-top: 7px;
  }