mat-form-field {
    margin-top: 10px;
    height: 75px;
    width: 300px;
}

mat-card-actions button{
    margin-left: 9px;
    width: 300px;
}

.card{
    display: flex;
    margin-bottom: 10px;
    /* justify-content: space-between; */
}

.parent{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.items{
    display: flex;
}
.item2 img{
    width: 300px;
    height: 280px;
}

