.example-full-width,.image{

    height: 75px;
    width: 300px;
}

button{
    width: 300px;
    margin-left: 8px;
}

.item1{
    margin-bottom: 10px;
}

.header{
    padding-bottom: 10px;
}
.recherche{
    width: 250px;
}
 

.description {
    height: 215px;
    width: 380px;
}
.example-form{
    display: flex;
    flex-wrap: wrap;
}
.admin-image{
    width: 300px;
    height: 250px;
    opacity: 0.7;
    margin-top: -9px;
  }

