.titre p{
    color: #867F7F;
    font-weight: bold;
    font-size: 12px;
    margin-left: 18px;
    margin-bottom: -14px;
}

mat-list-item{
    margin-bottom: -20px;
}

.dashboard{
    font-size: 14px;
    color: #867F7F;
    font-weight: 300;
}

.admin-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.menu-item {
    display: flex;
    align-items: center; /* Aligne verticalement au centre */
    gap: 4px; /* Espace entre l'icône et le bouton */
    height: 6vh;
    margin-bottom: -9px;
  }
  
  .menu-item mat-icon {
    margin-left: 5px;
  }
  
  .menu-item button {
    font-size: 14px; /* Taille du texte du bouton */
    
  }

  .dashboard1{
    font-weight: lighter;
  }
  

.view_list{
    width: 15px;
    height: 15px;
}


.image{
    text-align: center;
    margin-top: 20px;
}

.informations {
    font-size: 19px;
    text-align: center;
}

.informations .role{
    color: blue;
    font-size: 15px;
    font-weight: lighter;
}

.informations .nom-admin{
    margin-bottom: -2px;
    font-weight: lighter;
}

.menu{
    margin-left: 30px;
    padding: 0;
}

.horizontale-1{
    color: #f7f2f2;
    margin-top: 15px;
}

 .image-nav{
    text-align: center;
    margin-top: 20px;

}

.admin-image-nav{
    width: 23px;
    height: 23px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid white;
}

.container {
    padding: 10px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.side-bar{
    height: 100vh;
}
.image{
    margin-top: 90px;
}
.side{
    width: 250px;
}
.recherche {
    padding-left: 30px; /* Ajoutez du remplissage pour éviter que le texte ne chevauche l'icône */
    font-size: 11px;
    padding-top: 5px;
  }