<mat-toolbar color="primary" class="navbar">
    <button mat-button>NDAO HAN'OHATRA</button>
    <button class="menu" mat-button (click)="myDrawer.toggle()">
        <mat-icon >sort</mat-icon>
    </button>
    <div class="search-container">
        <button mat-button class="mat">
            <mat-icon class="account-icon">account_circle</mat-icon> 
        </button>
        <button mat-button class="mat">
            <mat-icon class="logout-icon">logout</mat-icon> 
        </button>
    </div>
</mat-toolbar>

<mat-drawer-container class="side-bar">
    <mat-drawer #myDrawer opened="true" mode="side" position="start" class="side">
        <div class="image">
            <img class="admin-image" src="assets/images/admin.jpg" alt="">
        </div>
        <div class="informations">
            <p class="nom-admin">Tantelinirina Ravoson</p>
            <p class="role">Administrateur</p>
        </div>
        <div class="titre">
            <p class="admin">ADMIN</p>
        </div>
        <mat-list>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/dashboard">
                    <mat-icon color="primary">dashboard</mat-icon>
                    Tableau de board
                </button>
            </mat-list-item>
        </mat-list>
        <hr class="horizontale-1">
        <div class="titre">
            <p >FRONT OFFICE</p>
        </div>
        <mat-list>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/categorie">
                    <mat-icon color="primary">home</mat-icon>
                    Accueil
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/categorie">
                    <mat-icon color="primary">info</mat-icon>
                    A propos
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/categorie">
                    <mat-icon color="primary">view_list</mat-icon>
                    Catégorie
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/service" >
                    <mat-icon color="primary">support_agent</mat-icon>
                    Service
                </button>
            </mat-list-item>
        </mat-list>
        <hr class="horizontale-1">
        <div class="titre">
            <p >BACK OFFICE</p>
        </div>
        <mat-list>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/produit">
                    <mat-icon color="primary">shopping_bag</mat-icon>
                    Produit
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/client">
                    <mat-icon color="primary">people</mat-icon>
                    Client
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/commande">
                    <mat-icon color="primary">receipt</mat-icon>
                    Commande
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/livraison">
                    <mat-icon color="primary">local_shipping</mat-icon>
                    Livraison
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="dashboard" routerLink="/livreur">
                    <mat-icon color="primary">directions_run</mat-icon>
                    Livreur
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="min-height: 600px;" class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
