.example-full-width,.image{

    height: 75px;
    width: 200px;
}

button{
    width: 200px;
    margin-left: 8px;
}

.item1{
    margin-bottom: 10px;
}

.header{
    padding-bottom: 10px;
}
.recherche{
    width: 250px;
}
 
.example-form{
    display: flex;
    flex-wrap: wrap;
}

.description {
    height: 300px;
    width: 300px;
}  



