<p>Tableau de board</p>
<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card appearance="outlined">
            <mat-card-content>
                <p>Visiteur unique </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
  
  
