<p>Service</p>
<div class="service-admin">
    <div class="item1">
        <div class="parent">
            <mat-card class="peole-service" >
                <button mat-button routerLink="/admin/service">
                    <mat-icon>people</mat-icon>
                    Service Clientèlle
                </button>
            </mat-card>
            <mat-card class="admin-service">
                <button mat-button color="primary" routerLink="/admin/serviceAdmin">
                    <mat-icon>account_circle</mat-icon>
                    Service Administrateur
                </button>
            </mat-card>
        </div>
    </div>
    <div class="item2">
        <div class="message-service">
            
        </div>
        <div class="input">
            <mat-card-content>
                <mat-form-field class="service-description">
                    <mat-label>Posez des questions par rapports à nos ventes</mat-label>
                    <textarea  class="input-description"  type="text" matInput placeholder="Posez des questions par rapports à nos ventes "></textarea>
                </mat-form-field>
                <mat-icon class="send" color="primary">send</mat-icon>
            </mat-card-content>
        </div>
    </div>
</div> 
